/* vars */
:root {
	--bg-green: #e3ffbf;
	--index: 1vw + 1vh;
}
/* container navigation */
.nav {
	background: #161822;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 20%;
	padding: calc(var(--index) * 0.8) 1.2%;
	transition: 0.6s ease;
	z-index: 100;
}

/* profile info container */
.profile {
	width: 100%;
	display: flex;
	max-height: 42px;
	min-height: 32px;
	height: calc(var(--index) * 2.9);
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: translateY(-100%);
	animation: sideBarProfileKey 0.4s cubic-bezier(0.5, -0.29, 0.51, 1.31)
		forwards;
	margin-bottom: 8%;
	will-change: transform;
}
/* animation profile sidebar  */
@keyframes sideBarProfileKey {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
/* avatar image */
.imageAvatar {
	height: 100%;
	border-radius: 50%;
	aspect-ratio: 1;
}
/* bell image container */
.bellButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92%;
	aspect-ratio: 1;
	background: #303030;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
}
/* span active bell button */
.bellButton:after {
	content: "";
	position: absolute;
	right: -8%;
	top: -8%;
	width: 23%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--bg-green);
}
/* bell image */
.imageBell {
	width: 55%;
}

/* navigation container */
.listNav {
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: auto;
}

/* item navigation */
.itemNav {
	width: 100%;
	height: calc(var(--index) * 3);
	min-height: 36px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	background: transparent;
	transition: 0.4s ease-in;
	cursor: pointer;
	opacity: 0;
	transform: translateX(50%);
	will-change: transform;
	animation: sideBarItemListKey 1s cubic-bezier(0.5, -0.29, 0.51, 1.31) forwards;
}
/* animation profile sidebar  */
@keyframes sideBarItemListKey {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.itemNavActive {
	background: var(--bg-green);
}
/* text item */
.itemText {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin: 0 2%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #ececec;
	text-decoration: none;
	transition: 0.2s;
}
/* text style hover */
.itemNavActive .itemText {
	margin: 0 6%;
	color: #14161f;
	font-weight: 700;
}

/* input edit */
.inputEdit {
	width: 100%;
	height: calc(var(--index) * 3);
	border-radius: 8px;
	border: none;
	background: #303030;
	padding: 0 6%;
	color: #dbdbdb;
	outline: none;
	font-size: 11px;
	display: flex;
	font-weight: 500;
	justify-content: flex-start;
	align-items: center;
	font-family: "Montserrat", sans-serif;
}

/* block edit profile STYLE */
/* container edit */
.profileEdit {
	width: 100%;
	background: #303030;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	min-height: 80px;
	padding: 6%;
	margin-top: calc(var(--index) * 0.2);
	justify-content: space-evenly;
	align-items: flex-start;
}
/* block info edit */
.blockInfoProfile {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}
/* name profile */
.profileName {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 700;
}
/* button edit */
.buttonEditName {
	height: 70%;
}
/* button buy premium */
.buyPremium {
	font-family: "Montserrat", sans-serif;
	padding: 2% 7%;
	background: var(--bg-green);
	border: none;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 800;
	color: #14161f;
}

/* media 1100 */
@media (max-width: 1100px) {
	.profileName {
		font-size: 16px;
	}
	.blockInfoProfile {
		margin-bottom: 3%;
	}
	.buyPremium {
		padding: 3% 8%;
		font-size: 11px;
	}
}
/* media 900 */
@media (max-width: 900px) {
	.itemNav {
		border-radius: 8px;
	}
	.profileName {
		font-size: 15px;
	}
}
/* media 900 */
@media (max-width: 1100px) {
	.nav {
		width: 30%;
	}
}
/* media 780 */
@media (max-width: 780px) {
	.nav {
		width: 240px;
		left: -240px;
		opacity: 0;
		padding: calc(var(--index) * 0.8) 2%;
	}
	.navActive {
		left: 0;
		opacity: 1;
	}
}
