body {
	width: 100vw;
	height: 100vh;
	background: #fff;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	user-select: none;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0;
}
